*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}

.header {
  padding: 10px 16px;

  
  
  }

  #Name{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 100px;
    padding-bottom: 10px;
  }


html {
  scroll-behavior: smooth;
}


body{

	font-family: 'Piazzolla', serif;
	padding-left: 20px;
    padding-right:20px;
}



body{
 background-image: url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 background-size: cover;


}


}
#AboutMe{
	display:flex;
	justify-content: center;

    padding: 5px;
    

}


#landing{
	
	margin:10px;
	
}

.button {
  background-color: black;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  display: flex;
  text-align: center;
}

a.Resumebutton{
	background-color: black; 
	color: white;
	margin-top::; 
	width:100px;
	
  text-decoration: none;
  display: flex;
  text-align: center;
  opacity: 1;
  transition: 0.3s;

}


a.Resumebutton:hover {
	opacity: 0.1
	background color:blue;

}


a{
	display:flex;
	padding-bottom: 0px;


}

h1,h3{
	display:flex;

	text-align: center;
}

#projectname{
	display:flex;
	
   } 








div.fontawesomemargin{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	padding:30px;
	
	
}



div.fontawesomemarginbutton{

	display: flex;
	justify-content: center;
}





#list .p{

	display:flex;
 	flex-wrap:wrap;
 	flex-grow: 3;
 	justify-content: space-between;

 	
}





.items{
	display:flex;
	justify-content: space-around;

}

.items > img{
height:40px
}


.description{
	display:flex;
	
	justify-content: space-around;

}

.edititem{
	margin-left: 6px;
}

.adveritem{
	margin-left: 15px

}

.map{
	text-align: center;
}


.line{
	border-top: 10px solid white; 
}



a:hover {
  color: black;
  background-color: transparent;
  border-color: black;
  opacity: 0.5px;
  
  
}

.footerbutton{
	background-color: black;  
  
  color: white;
	justify-content: center;


}

.carousel-inner img {
  margin: auto;
}


/*cards*/
@media (min-width:34em) {
     .card
    {
        height: 100%;
        flex-wrap: wrap;
        flex: initial; 
    }

   .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
}


